{% if order.getWarnings is not empty %}
    <div class="warning">
        <ul class="list-group">
            {% for w in order.getWarnings %}
                <li>{{ w }}</li>
            {% endfor %}
        </ul>
    </div>
{% elseif order.deletedAt is not null %}
    <div class="alert alert-danger">Zlecenie zostało usunięte {{ order.deletedAt|date("d-m-Y H:i") }}.</div>
{% elseif order.state == "rozliczone" %}
    <div class="alert alert-success">Zlecenie zostało rozliczone.</div>
{% endif %}


<div class="property">
    <div class="name">Status</div>
    <div class="value" state="{{ order.state }}">{{ order.state }}</div>
</div>
<div style="clear:both;"></div>

<div class="property">
    <div class="name">Wprowadzono</div>
    <div class="value">{{ order.adoption | date('d.m.Y H:i') }}</div>
</div>
<div style="clear:both;"></div>

<div class="property">
    <div class="name">Termin</div>
    <div class="value">{{ order.deadline | date('d.m.Y H:i') }}</div>
</div>
<div style="clear:both;"></div>

<div class="property">
    <div class="name">Klient</div>
    <div class="value">{{ order.client.name }}</div>
</div>
<div style="clear:both;"></div>

<div class="property">
    <div class="name">Temat</div>
    <div class="value">{{ order.topic }}</div>
</div>
<div style="clear:both;"></div>

<div class="property">
    <div class="name">Język</div>
    <div class="value">{{ order.baseLang }}
        ->
        {{ order.targetLang }}</div>
</div>
<div style="clear:both;"></div>

<div class="property">
    <div class="name">Przysięgłe</div>
    <div class="value">{{ order.certified ? "Tak" : "Nie" }}</div>
</div>
<div style="clear:both;"></div>

<div class="property">
    <div class="name">Wykonawca</div>
    <div class="value">{{ order.staff }}</div>
</div>
<div style="clear:both;"></div>

<div class="property">
    <div class="name">Notatki</div>
    <div class="value">{{ order.info|default('brak notatek') }}</div>
</div>
<div style="clear:both;"></div>

<div class="property">
    <div class="name">Liczba stron</div>
    <div class="value">{{ order.pages }}</div>
</div>
<div style="clear:both;"></div>

<div class="property">
    <div class="name">Cena za stronę</div>
    <div class="value">{{ order.price }} PLN</div>
</div>
<div style="clear:both;"></div>


<div class="property">
    <div class="name">Netto</div>
    <div class="value">{{ order.netto }} PLN</div>
</div>
<div style="clear:both;"></div>

<div class="logs">
    <table class="table table-dark">
        <thead>
        <th>Data</th>
        <th>Użytkownik</th>
        <th>Akcja</th>
        </thead>
        <tbody>
        {% for l in logs %}
            <tr>
                <td style="width: min-content;">{{ l.createdAt | date('d-m-Y H:i:s') }}</td>
                <td style="width: min-content;">{{ l.user }}</td>
                <td>{{ l.action }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
