{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    - Moje zlecenia
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/index.css") }}"/>
    <link rel="stylesheet" href="{{ asset("css/popups.css") }}"/>
    <link rel="stylesheet" href="{{ asset("css/entity_table.css") }}"/>
    <link rel="stylesheet" href="{{ asset("css/filters-form.css") }}"/>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("js/filters-controller.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/content-table-controller.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/details-controller.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/popup-manager.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/index-controller.js") }}"></script>
    <script>
        $(document).ready(function (){
            window.controller = new Controller($(document));
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-2" style=" height: 100%;">
            <div class="column left-col js-left-col">
                <header>
                    Filtruj
                </header>
                <div class="col-content" id="filters-content">
                    {{ form_start(filtersForm) }}
                    {% for row in filtersForm %}
                        {% if not loop.last %}

                            {{ form_widget(row) }}
                            {{ form_label(row) }}

                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Wykonaj</button>
                    {{ form_end(filtersForm) }}
                </div>
            </div>
        </div>
        <div class="col-lg-7" style=" height: 100%;">
            <div class="column mid-col js-mid-col">
                <header>
                    <div class="icon" style="float: left;">
                        {% include 'icons/order.html' %}
                    </div>
                    Zlecenia
                    <div style="clear: both;"></div>
                    {% include 'burger.html.twig' with {'options': [
                        {'label': "Add order", 'icon': 'add', 'class': 'js-add-order-link'}
                    ]} %}
                </header>
                <div class="col-content" style="width: auto">
                    <div class="table-container js-table-container">
                        {% include 'index/orders_table.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3" style="height: 100%;">
            <div class="column right-col js-right-col">
                <header>
                    Szczegóły zlecenia
                    <span class="js-subject-id">
                            {% if details['order'] %}
                                {{ details['order'].id }}
                            {% endif %}
                    </span>
                    <div class="js-burger">
                        {% include 'burger.html.twig' %}
                    </div>
                </header>
                <div class="col-content" id="details-content">
                    {% if details['order'] %}
                        {% include 'index/details.html.twig' with {'order': details['order'], 'logs': details['logs']} %}
                    {% else %}
                        <div class="alert alert-primary">{{ "Select order to display details." | trans }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
