{% set style = rowsShown < rowsFound ? 'style=color:red;' : '' %}
<div class="rows-count" title="{{ ('rows shown' | trans) ~ ' / ' ~ ('rows found' | trans) }}">
    {% include 'icons/learn.html' %}
    {{ ('Rows' | trans) ~ ': ' }}
    <span class="js-rows-count" {{ style }}>
        {{ rowsShown }}/{{ rowsFound }}
    </span>
</div>
<table class="table table-dark table-hover js-main-table" data-source-url="{{ dataSourceUrl }}">
    <thead>
    <tr>
        <th class="entity-table icon-col"></th>
        <th class="entity-table icon-col"></th>
        <th>id</th>
        {% if 'adoption' in preferences.columns %}
            <th>Wprowadzono</th>
        {% endif %}
        {% if 'client' in preferences.columns %}
            <th>Klient</th>
        {% endif %}
        {% if 'topic' in preferences.columns %}
            <th>Temat</th>
        {% endif %}
        {% if 'lang' in preferences.columns %}
            <th>Język</th>
        {% endif %}
        {% if 'deadline' in preferences.columns %}
            <th>Termin</th>
        {% endif %}
        {% if 'staff' in preferences.columns %}
            <th>Wykonawca</th>
        {% endif %}

        <th>Zmien status</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr data-subject-id="{{ order.id }}" data-subject-type="order">
            <td class="entity-table icon-col clickable-row" style="white-space: nowrap;"
                title="{{ order.warnings | join(" ") }}">
                {% if order.getWarnings is not empty %}
                    {% include 'icons/notice.html' %}
                {% endif %}
            </td>
            <td class="entity-table icon-col clickable-row" style="white-space: nowrap;">
                {% if order.repertoryEntry is not null %}
                    {% include 'icons/repertory_entry.html' %}
                {% endif %}
            </td>
            <td>{{ order.id }}</td>

            {% if 'adoption' in preferences.columns %}
                <td class="clickable-row">{{ order.adoption | date('d.m.Y H:i') }}</td>
            {% endif %}
            {% if 'client' in preferences.columns %}
                <td class="clickable-row">{{ order.client }}</td>
            {% endif %}
            {% if 'topic' in preferences.columns %}
                <td class="clickable-row">{{ order.topic }}</td>
            {% endif %}
            {% if 'lang' in preferences.columns %}
                <td class="clickable-row">{{ order.baseLang }}
                    ->
                    {{ order.targetLang }}</td>
            {% endif %}
            {% if 'deadline' in preferences.columns %}
                <td class="clickable-row">{{ order.deadline | date('d.m.Y H:i') }}</td>
            {% endif %}
            {% if 'staff' in preferences.columns %}
                <td class="clickable-row">{{ order.staff }}</td>
            {% endif %}
            <td class="js-update-state-cell">
                {% if order.deletedAt is not null %}
                    <select class="form-select" data-deleted="true" disabled style="background-color: #632435;">
                        <option>Usuniete</option>
                    </select>
                {% elseif order.settledAt is not null %}
                    <select class="form-select" data-state="{{ order.state }}" disabled>
                        <option>Rozliczone</option>
                    </select>
                {% else %}
                    <select class="form-select" data-state="{{ order.state }}">
                        {% for state in constant('App\\Entity\\Order::STATES') %}
                            <option value="{{ state }}" {% if order.state == state %} selected {% endif %}>
                                {{ state | trans | capitalize }}
                            </option>
                        {% endfor %}
                    </select>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if orders is empty %}
    <div class="alert alert-primary">{{ "No results - check filters." | trans }}</div>
{% endif %}
