<table id="main-table" class="table table-dark table-hover">
    <thead>
    <tr>
        <th>id</th>
        <th>Autor</th>
        <th>Dodano</th>
        <th>Temat</th>
        <th>Treść</th>
        <th>Termin</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        <tr task-id="{{ task.id }}">
            <td class="clickable-row" style="white-space: nowrap;">
                {{ task.id }}
            </td>
            <td class="clickable-row">{{ task.author.firstName ~ " " ~ task.author.lastName }}</td>
            <td class="clickable-row">{{ task.createdAt | date("d.m.Y H:i") }}</td>
            <td class="clickable-row">{{ task.topic }}</td>
            <td class="clickable-row">{{ task.info }}</td>
            <td class="clickable-row">{{ task.deadline | date("d.m.Y H:i") }}</td>
            <td class="clickable-row">{{ task.doneAt ? "Wykonane" : "Nie wykonane" }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
