{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    - Raporty
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/reports.css") }}"/>
    <link rel="stylesheet" href="{{ asset("css/invoices.css") }}"/>
    <link rel="stylesheet" href="{{ asset("css/index-popups.css") }}"/>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("js/reports/reports.js") }}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid" id="content" style="height: 100%;">
        <div class="row" style="height: 100%;">
            <div class="col-lg-2" style=" height: 100%;">
                <div class="column left-col">
                    <header>
                        Dostępne raporty
                    </header>
                        <div class="col-content" id="reports-content" style="width: auto">
                            <div class="table-container">
                                {% include 'reports/reports.html.twig' %}
                            </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-7" style=" height: 100%;">
                <div class="column mid-col">
                    <header>
                        Dane i podgląd
                    </header>
                    <div class="col-content" id="form-preview-content" style="">

                        <div id="form-preview-content-form" style="height: 100px;">
                            <div class="alert alert-primary">Wybierz raport, aby go wykonać.</div>
                        </div>
                        <div>
                        <div id="form-preview-content-preview">

                        </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3" style=" height: 100%;">
                <div class="column right-col">
                    <header>
                        Szczegóły raportu
                    </header>
                    <div class="col-content" id="details-content" style="">
                        <div class="alert alert-primary">Wybierz raport, aby wyświetlić jego szczegóły</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="center-popup">
            <div id="center-popup-content">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                     fill="currentColor" class="bi bi-arrow-clockwise icon-loading" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                </svg>
            </div>
        </div>
    </div>
{% endblock %}