{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    - Faktury
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/filters-form.css") }}"/>
    <link rel="stylesheet" href="{{ asset("css/entity_table.css") }}"/>
    <link rel="stylesheet" href="{{ asset("css/invoices.css") }}"/>
    <link rel="stylesheet" href="{{ asset("css/popups.css") }}"/>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script type="text/javascript" src="{{ asset("js/popup-manager.js") }}"></script>
<script type="text/javascript" src="{{ asset("js/invoices-controller.js") }}"></script>
<script type="text/javascript" src="{{ asset("js/interface/custom-select.js") }}"></script>
<script>
    $(document).ready(function (){
        window.controller = new Controller($(document));
    });
</script>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-lg-3" style=" height: 100%;">
                <div class="column left-col js-left-col">
                    <header>
                        Klient
                        <div style="clear: both;"></div>
                    </header>
                    <div class="col-content" id="clients-content" style="width: auto">
                        <h6>Wybierz miesiąc, z którego zlecenia mają być brane pod uwagę.</h6>
                        <div class="form-month js-form-month">
                            {{ form_start(monthForm) }}
                            {{ form_errors(monthForm) }}
                            {{ form_widget(monthForm.month) }}
                            {{ form_widget(monthForm.year) }}
                            {{ form_end(monthForm) }}
                        </div>
                        <h6>Wybierz klienta, dla którego chcesz wystawić fakturę.</h6>
                        <div class="alert alert-info">Klienci bez nierozliczonych zleceń nie są wyświetlani.</div>
                        <div class="table-container js-clients-table-container">
                            {% include 'invoices/clients_table.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" style=" height: 100%;">
                <div class="column mid-col js-mid-col">
                    <header>
                        Nierozliczone zlecenia
                        <div style="clear: both;"></div>
                    </header>
                    <div class="col-content" id="orders-content" style="width: auto">
                        <div class="table-container js-orders-table-container">
                            <div class="alert alert-info">Wybierz klienta, aby wyświetlić zlecenia</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="height: 100%;">
                <div class="column right-col js-right-col">
                    <header>
                        <div class="icon" style="float: left;">
                            {% include 'icons/invoice.html' %}
                        </div>
                        Faktura
                        <div style="clear: both;"></div>
                    </header>
                    <div class="col-content" id="summary-content">
                        <h6>Dane sprzedawcy</h6>
                        <div>
                            {% include 'invoices/issuer_details.html.twig' %}
                        </div>
                        <div class="js-buyer-data">
                            <h6>Dane kupującego</h6>
                            <div class="alert alert-info">Wybierz klienta, by wystawić fakturę</div>
                        </div>
                        <div>
                            <h6>{{ "Invoice data" | trans }}</h6>
                            <div class="dates filters-form">
                                <div>
                                    <input id="issue-date" type="date" class="js-issue-date" value="{{ preferences.issueDate | date('Y-m-d') }}">
                                    <label for="issue-date">{{ "Issue date" | trans }}</label>
                                </div>
                                <div>
                                    <input id="payment-date" type="date" class="js-payment-date" value="{{ preferences.paymentDate | date('Y-m-d') }}">
                                    <label for="payment-date">{{ "Payment date" | trans }}</label>
                                </div>
                            </div>
                            <div class="buttons js-buttons">
                                <div>
                                    <input type="button" class="btn btn-primary js-button-invoice" value="{{ "Invoice" | trans }}">
                                </div>
                                <div>
                                    <input type="button" class="btn btn-primary js-button-settle" value="{{ "Settle" | trans }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
