<div class="property">
    <div class="name">Firma</div>
    <div class="value">{{ company.name }}</div>
</div>
<div style="clear:both;"></div>

<div class="property">
    <div class="name">Adres</div>
    <div class="value">
        {{ company.address }}
        <br/>
        {{ company.postCode }} {{ company.city }}
    </div>
</div>
<div style="clear:both;"></div>

<div class="property">
    <div class="name">NIP</div>
    <div class="value">{{ company.nip }}</div>
</div>
<div style="clear:both;"></div>

<div class="property">
    <div class="name">Numer konta</div>
    <div class="value">{{ company.bankAccount }}</div>
</div>
<div style="clear:both;"></div>
