{% if entry.getWarnings is not empty %}
    <div class="warning">
        <ul class="list-group">
            {% for w in entry.getWarnings %}
                <li>{{ w }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<div class="expandable">
    <div class="trigger">
        <div class="property js-order-id" data-order="{{ entry.order.id }}">
            <div class="name">{{ "Related order" | trans }}</div>
            <div class="value">
                {{ entry.order.id }}
                {% include 'icons/expand.html' %}
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div class="body">
        {% include 'repertory/order_summary.html.twig' with {"order": entry.order} %}
    </div>
</div>

<div class="property">
    <div class="name">Nazwa dokumentu</div>
    <div class="value">{{ entry.documentName | default('brak nazwy') }}</div>
</div>
<div style="clear:both;"></div>

<div class="property">
    <div class="name">Numer</div>
    <div class="value">{{ entry.formattedNumber }}</div>
</div>
<div style="clear:both;"></div>

<div class="property">
    <div class="name">Organ wydający</div>
    <div class="value">{{ entry.documentIssuer | default('brak') }}</div>
</div>
<div style="clear:both;"></div>

<div class="property">
    <div class="name">Dodatkowe uwagi</div>
    <div class="value">{{ entry.comments | default('brak uwag') }}</div>
</div>
<div style="clear:both;"></div>

<div class="property">
    <div class="name">Kopie dodatkowe</div>
    <div class="value">{{ entry.copies }}</div>
</div>
<div style="clear:both;"></div>

<div class="property">
    <div class="name">Cena za kopię</div>
    <div class="value">{{ entry.copyPrice }}</div>
</div>
<div style="clear:both;"></div>

<div class="property">
    <div class="name">Data dokumentu</div>
    <div class="value">{{ entry.documentDate | date('d.m.Y H:i') }}</div>
</div>
<div style="clear:both;"></div>