<table class="table table-dark table-hover js-main-table" data-source-url="{{ dataSourceUrl }}">
    <thead>
    <tr>
        <th>id</th>
        <th>Numer</th>
        <th>Organ wydający</th>
        <th>Dodatkowe uwagi</th>
        <th>Zlecenie</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
        <tr data-subject-id="{{ entry.id }}" data-subject-type="entry">
            <td class="clickable-row" style="white-space: nowrap;">
                {% if entry.getWarnings is not empty %}
                    {% include 'icons/notice.html' %}
                {% endif %}
                {{ entry.id }}
            </td>

            <td class="clickable-row">
                {{ entry.number }}/{{ entry.year }}
            </td>
            <td class="clickable-row">{{ entry.documentIssuer }}</td>
            <td class="clickable-row">{{ entry.comments }}</td>

            <td class="clickable-row">
                {% include 'icons/order.html' %}
                <i>{{ entry.order.id }}</i>
                {% include 'icons/inheritance_arrow.html' %}
            </td>

            <td class="clickable-row inherited">
                {% set text =
                entry.order.client ~ " | " ~
                entry.order.topic ~ " | " ~
                entry.order.baseLang ~ "->" ~ entry.order.targetLang
                %}
                {{ text|length > 45 ? text|slice(0, 45) ~ '...' : text }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if entries is empty %}
    <div class="alert alert-primary">{{ "No results - check filters." | trans }}</div>
{% endif %}
