<div class="entity-form-container">
    {% if update is defined and update == true %}
        <h4>Zaktualizuj wpis</h4>
    {% else %}
        <h4>Dodaj nowy wpis</h4>
    {% endif %}
    {{ form_start(entryForm) }}
    {% for row in entryForm %}
        {% if 'hidden' not in row.vars['block_prefixes'] %}
            <div class="entity-form-row">
                <div class="entity-form-label">
                    {{ form_label(row, null, {'label_attr': {'state': row.vars.label|lower}}) }}
                    {% if row.vars.required %}*{% endif %}
                </div>
                <div class="entity-form-widget">
                    {{ form_widget(row,{'attr': {}}) }}
                </div>
                <div style="clear: both;"></div>
                <span class="error">{{ form_errors(row) }}</span>
            </div>
        {% endif %}
    {% endfor %}
    <div class="entity-form-submit-container">
        <button type="submit" class="btn btn-primary">Wykonaj</button>
    </div>
    {{ form_end(entryForm) }}
</div>