<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}Menedżer Zleceń
        {% endblock %}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset("img/icon.png") }}"/>
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
              crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset("css/base.css") }}"/>
        <link rel="stylesheet" href="{{ asset("css/entity_form.css") }}"/>
    {% endblock %}
</head>
{% block body %}
    <body style="overflow-x: hidden;">
    <div id="debug"></div>
    {% block header %}
        <header class="navbar sticky-top flex-md-nowrap p-0 shadow" style="height: 55px">
            <a onclick="openForm();" class="navbar-brand col-3" id="title" href="#">
                <embed src="{{ asset('img/logo.svg') }}" height="50px">
            </a>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap nav-link">
                    <img src="{{ asset('img/kadamaxo.png') }}" height="25px"/>
                    <span style="display: inline-block;">Kadamaxo | {{ app.user.firstName }} {{ app.user.lastName }} |</span>
                    <a style="display: inline-block;" class="nav-link" href="/logout">
                        wyloguj
                    </a>
                </li>
            </ul>
        </header>
    {% endblock %}
    <div class="wrapper">
        <div onclick="closeAll();" id="overlay"></div>
        {% block nav %}
            <nav id="sidebar" class="active">
                <ul class="list-unstyled components">
                    <li {% if app.request.attributes.get('_route') == "index" %}class="current-tab"{% endif %}>
                        <a href="{{ path('index') }}">
                            <div id="nav-home" class="item-container">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-vector-pen" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828L10.646.646zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"/>
                                    <path fill-rule="evenodd" d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086.086-.026z"/>
                                </svg>
                                <h6>Zlecenia</h6>
                            </div>
                        </a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == "archives" %}class="current-tab"{% endif %}>
                        <a href="{{ path('archives') }}">
                            <div id="nav-orders" class="item-container">
                                <svg width="21" height="23" viewbox="0 0 21 23" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.555 3.85116H5.7232C5.38765 3.85116 5.11563 3.55324 5.11563 3.18573V2.85277C5.11563 2.47808 4.83829 2.17432 4.49617 2.17432H1.23892C0.554695 2.17432 0 2.78179 0 3.53123V14.9487L1.58964 6.47837C1.64772 6.16895 1.89636 5.9469 2.18478 5.9469H17.7939V5.20807C17.7939 4.45864 17.2392 3.85116 16.555 3.85116Z"/>
                                    <path d="M19.7609 7.27783H2.68016L0.289487 20.0162C0.211065 20.4341 0.502522 20.8257 0.89213 20.8257H18.6665C19.2981 20.8257 19.8285 20.3054 19.898 19.618L20.9923 8.78397C21.0735 7.98037 20.4991 7.27783 19.7609 7.27783Z"/>
                                </svg>
                                <h6>Archiwum</h6>
                            </div>
                        </a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == "clients" %}class="current-tab"{% endif %}>
                        <a href="{{ path('clients') }}">
                            <div id="nav-clients" class="item-container">
                                <svg width="21" height="21" viewbox="0 0 21 21" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                        <path d="M10.5 8.4751C12.4708 8.4751 14.0684 6.87749 14.0684 4.90674C14.0684 2.93599 12.4708 1.33838 10.5 1.33838C8.52925 1.33838 6.93164 2.93599 6.93164 4.90674C6.93164 6.87749 8.52925 8.4751 10.5 8.4751Z"/>
                                        <path d="M17.7188 8.4751C18.9646 8.4751 19.9746 7.46512 19.9746 6.21924C19.9746 4.97336 18.9646 3.96338 17.7188 3.96338C16.4729 3.96338 15.4629 4.97336 15.4629 6.21924C15.4629 7.46512 16.4729 8.4751 17.7188 8.4751Z"/>
                                        <path d="M3.28125 8.4751C4.52713 8.4751 5.53711 7.46512 5.53711 6.21924C5.53711 4.97336 4.52713 3.96338 3.28125 3.96338C2.03537 3.96338 1.02539 4.97336 1.02539 6.21924C1.02539 7.46512 2.03537 8.4751 3.28125 8.4751Z"/>
                                        <path d="M5.50389 10.5008C4.6159 9.77327 3.81171 9.86958 2.78496 9.86958C1.24934 9.86958 0 11.1115 0 12.6377V17.117C0 17.7799 0.540996 18.3188 1.20627 18.3188C4.07843 18.3188 3.73242 18.3708 3.73242 18.1949C3.73242 15.0209 3.35647 12.6932 5.50389 10.5008Z"/>
                                        <path d="M11.4766 9.88604C9.68321 9.73646 8.12441 9.88777 6.77988 10.9976C4.52989 12.7998 4.96289 15.2264 4.96289 18.195C4.96289 18.9804 5.60191 19.6314 6.39926 19.6314C15.0569 19.6314 15.4015 19.9106 15.9149 18.7737C16.0833 18.3892 16.0371 18.5114 16.0371 14.8333C16.0371 11.912 13.5076 9.88604 11.4766 9.88604Z"/>
                                        <path d="M18.215 9.8696C17.1827 9.8696 16.3829 9.77428 15.4961 10.5008C17.6275 12.677 17.2676 14.8458 17.2676 18.1949C17.2676 18.3719 16.9803 18.3188 19.7506 18.3188C20.4397 18.3188 21 17.7606 21 17.0744V12.6377C21 11.1115 19.7506 9.8696 18.215 9.8696Z"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <rect width="21" height="21" fill="white"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <h6>Klienci</h6>

                            </div>
                        </a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == "invoices" %}class="current-tab"{% endif %}>
                        <a href="{{ path('invoices') }}">
                            <div id="nav-invoices" class="item-container">
                                <svg width="23" height="22" viewbox="0 0 23 22" fill="currentColor">
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.8242 6.44531C13.9573 6.44531 13.252 5.77066 13.252 4.94141V0H5.21094C3.84859 0 2.74023 1.06017 2.74023 2.36328V19.6367C2.74023 20.9398 3.84859 22 5.21094 22H17.7891C19.1514 22 20.2598 20.9398 20.2598 19.6367V6.44531H14.8242ZM6.42383 15.4688H9.69055C10.0627 15.4688 10.3644 15.7573 10.3644 16.1133C10.3644 16.4692 10.0627 16.7578 9.69055 16.7578H6.42383C6.0517 16.7578 5.75 16.4692 5.75 16.1133C5.75 15.7573 6.0517 15.4688 6.42383 15.4688ZM5.75 12.6758C5.75 12.3198 6.0517 12.0312 6.42383 12.0312H16.3066C16.6788 12.0312 16.9805 12.3198 16.9805 12.6758C16.9805 13.0317 16.6788 13.3203 16.3066 13.3203H6.42383C6.0517 13.3203 5.75 13.0317 5.75 12.6758ZM16.3066 8.59375C16.6788 8.59375 16.9805 8.88233 16.9805 9.23828C16.9805 9.59423 16.6788 9.88281 16.3066 9.88281H6.42383C6.0517 9.88281 5.75 9.59423 5.75 9.23828C5.75 8.88233 6.0517 8.59375 6.42383 8.59375H16.3066Z"/>
                                    <path d="M14.5996 4.94143C14.5996 5.0599 14.7004 5.15628 14.8242 5.15628H19.9594C19.8362 4.9386 19.6776 4.73866 19.4871 4.56623L15.1556 0.646533C14.9875 0.494424 14.8002 0.367537 14.5997 0.267334V4.94143H14.5996Z"/>
                                </svg>
                                <h6>Faktury</h6>
                            </div>
                        </a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == "tasks" %}class="current-tab"{% endif %}>
                        <a href="{{ path('tasks') }}">
                            <div id="nav-tasks" class="item-container">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="22" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                                </svg>
                                <h6>Zadania</h6>
                            </div>
                        </a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == "reports" %}class="current-tab"{% endif %}>
                        <a href="{{ path('reports') }}">
                            <div id="nav-tasks" class="item-container">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="22" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16">
                                    <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/>
                                    <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
                                </svg>
                                <h6>Raporty</h6>
                            </div>
                        </a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == "repertory" %}class="current-tab"{% endif %}>
                        <a href="{{ path('repertory') }}">
                            <div id="nav-tasks" class="item-container">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                    <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                </svg>
                                <h6>Repertorium</h6>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        {% endblock %}
        {% block content %}{% endblock %}
        {% block popups %}{% endblock %}
    </div>
    </body>
{% endblock %}
{% block javascript %}
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ asset("js/base.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/jquery.tablesorter.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/jquery.query-object.js") }}"></script>
{% endblock %}
</html>
