<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="img/icon.png" />
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/fontello.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/animation.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/fontello-codes.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/fontello-embedded.css') }}"/>
        {% endblock %}
    </head>
    <body style="height: 100%;">
    <style>
        html, body{
            height: 100%;
            background-color: rgb(29,32,35);
        }
        .content{
            color: white
        }
        a{
            color: white;
        }
    </style>
        {% block header %}
            <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" style="height: 55px;">
                <a class="navbar-brand col-3" style="padding: 10px;" href="#">Menedżer Zleceń</a>
                <ul class="navbar-nav px-3">
                    <li class="nav-item text-nowrap">
                    <a class="nav-link" href="#"><i class="icon-user-circle"></i>{{ user is defined ? user : 'USER' }} - wyloguj <i class="icon-logout"></i></a>
                    </li>
                </ul>
            </header>
        {% endblock %}
        {% block body %}
        <div class="container-fluid" style="height: calc(100% - 55px);">
            <div class="row" style="height: 100%;">
                <nav id="sidebarMenu" style="height: 100%;" class="col-2 bg-dark sidebar">
                <div class="position-sticky pt-3" style="height: 100%;">
                        <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link"  href="/">
                            <i class="icon-list-bullet"></i>
                            Pokaż
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/add">
                            <i class="icon-list-add"></i>
                            Dodaj
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <i class="icon-pencil"></i>
                            Edytuj
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/clients">
                            <i class="icon-user-circle"></i>
                            Klienci
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <i class="icon-doc-text"></i>
                            Faktury
                            </a>
                        </li>
                        </ul>
                    </div>
                </nav>
                <div class="col-10 content" style="padding: 15px; overflow-y: scroll; height: 100%;">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>        
        {% endblock %}
        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
