<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Menedżer Zleceń{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset("img/icon.png") }}" />
        <script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="js/jquery.tablesorter.js"></script>
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/popups.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/fontello.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/animation.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/fontello-codes.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/fontello-embedded.css') }}"/>
        {% endblock %}
    </head>
    {% block body %}
    <body style="height: 100%;">
        {% block javascripts %}
        {% endblock %}
        {% block header %}
        <div class="overlay" id="overlay"></div>
            <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" style="height: 55px;">
                <a class="navbar-brand col-3" id="title" href="{{ path('index') }}">Menedżer Zleceń</a>
                <ul class="navbar-nav px-3">
                    <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{{ path('logout') }}"><i class="icon-user"></i>{{ app.user.username | default("niezalogowano") }} - wyloguj <i class="icon-logout"></i></a>
                    </li>
                </ul>
            </header>
        {% endblock %}
        {% block nav %}
        <div class="container-fluid" style="height: calc(100% - 55px);">
            <div class="row" style="height: 100%;">
                <nav class="col-2 bg-dark sidebar" id="sideBarMenu">
                <div class="position-sticky pt-3" style="height: 100%;">
                        <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link"  href="{{ path('index') }}">
                            <i class="icon-home"></i>
                            Moje zlecenia
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('queries') }}">
                            <i class="icon-th-list"></i>
                            Kwerendy
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('clients') }}">
                            <i class="icon-users"></i>
                            Klienci
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('invoices') }}">
                            <i class="icon-doc"></i>
                            Faktury
                            </a>
                        </li>
                        </ul>
                    </div>
                </nav>
                <div class="col-10 content" style="padding: 15px; overflow-y: scroll; height: 100%;">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>        
        {% endblock %}
        {% block popups %}
        {% endblock %}
    </body>
    {% endblock %}
</html>
