{% if rowsShown is not defined %}
    {% set rowsShown = 0 %}
{% endif %}

{% if rowsFound is not defined %}
    {% set rowsFound = 0 %}
{% endif %}

{% set style = rowsShown < rowsFound ? 'style=color:var(--color-warning);' : '' %}
<div class="rows-count" title="{{ ('rows shown' | trans) ~ ' / ' ~ ('rows found' | trans) }}">
    {% include 'icons/learn.html' %}
    {{ ('Rows' | trans) ~ ': ' }}
    <span class="js-rows-count" {{ style }}>
        {{ rowsShown }}/{{ rowsFound }}
    </span>
</div>