<table id="main-table" class="table table-dark table-hover">
    <thead>
    <tr>
        <th>id</th>
        {% if 'adoption' in preferences.columns %}
            <th>Wprowadzono</th>
        {% endif %}
        {% if 'client' in preferences.columns %}
            <th>Klient</th>
        {% endif %}
        {% if 'topic' in preferences.columns %}
            <th>Temat</th>
        {% endif %}
        {% if 'lang' in preferences.columns %}
            <th>Język</th>
        {% endif %}
        {% if 'deadline' in preferences.columns %}
            <th>Termin</th>
        {% endif %}
        {% if 'staff' in preferences.columns %}
            <th>Wykonawca</th>
        {% endif %}

        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr order-id="{{ order.id }}">
            <td class="clickable-row" style="white-space: nowrap;">
                {{ order.id }}
            </td>
            {% if 'adoption' in preferences.columns %}
                <td class="clickable-row">{{ order.adoption | date('d.m.Y H:i') }}</td>
            {% endif %}
            {% if 'client' in preferences.columns %}
                <td class="clickable-row">{{ order.client }}</td>
            {% endif %}
            {% if 'topic' in preferences.columns %}
                <td class="clickable-row">{{ order.topic }}</td>
            {% endif %}
            {% if 'lang' in preferences.columns %}
                <td class="clickable-row">{{ order.baseLang }}
                    ->
                    {{ order.targetLang }}</td>
            {% endif %}
            {% if 'deadline' in preferences.columns %}
                <td class="clickable-row">{{ order.deadline | date('d.m.Y H:i') }}</td>
            {% endif %}
            {% if 'staff' in preferences.columns %}
                <td class="clickable-row">{{ order.staff }}</td>
            {% endif %}
            <td>
                {% if order.deletedAt is not null %}
                    <select class="form-select" state="usuniete" disabled style="background-color: #632435;">
                        <option>Usuniete</option>
                    </select>
                {% elseif order.settledAt is not null %}
                    <select class="form-select" state="{{ order.state }}" disabled>
                        <option>Rozliczone</option>
                    </select>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
