<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th>id</th>
        {% if app.user.preferences['archives']['adoption'] == true %}
            <th>Wprowadzono</th>
        {% endif %}
        {% if app.user.preferences['archives']['client'] == true %}
            <th>Klient</th>
        {% endif %}
        {% if app.user.preferences['archives']['topic'] == true %}
            <th>Temat</th>
        {% endif %}
        {% if app.user.preferences['archives']['lang'] == true %}
            <th>Język</th>
        {% endif %}
        {% if app.user.preferences['archives']['deadline'] == true %}
            <th>Termin</th>
        {% endif %}

        <th>Wykonawca</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <td class="clickable-row" onclick="reloadDetails({{ order.id }})" style="white-space: nowrap;">
                {{ order.id }}
            </td>
            {% if app.user.preferences['archives']['adoption'] == true %}
                <td class="clickable-row" onclick="reloadDetails({{ order.id }})">{{ order.adoption | date('d-m-Y H:i') }}</td>
            {% endif %}
            {% if app.user.preferences['archives']['client'] == true %}
                <td class="clickable-row" onclick="reloadDetails({{ order.id }})">{{ order.client }}</td>
            {% endif %}
            {% if app.user.preferences['archives']['topic'] == true %}
                <td class="clickable-row" onclick="reloadDetails({{ order.id }})">{{ order.topic }}</td>
            {% endif %}
            {% if app.user.preferences['archives']['lang'] == true %}
                <td class="clickable-row" onclick="reloadDetails({{ order.id }})">{{ order.baseLang }}
                    ->
                    {{ order.targetLang }}</td>
            {% endif %}
            {% if app.user.preferences['archives']['deadline'] == true %}
                <td class="clickable-row" onclick="reloadDetails({{ order.id }})">{{ order.deadline | date('d-m-Y H:i')}}</td>
            {% endif %}
            <td class="clickable-row" onclick="reloadDetails({{ order.id }})">{{ order.staff }}</td>
            <td>
                {% if order.deletedAt is not null %}
                    <select class="form-select" state="usuniete" disabled style="background-color: #632435;">
                        <option>Usuniete</option>
                    </select>
                {% elseif order.settledAt is not null %}
                    <select class="form-select" state="{{ order.state }}" disabled>
                        <option>Rozliczone</option>
                    </select>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
