{{ form_start(addClientForm, {'attr':{'name': 'add_client_form', 'id': 'add-client-form'}})}}
{% for row in addClientForm %}
	{% if not loop.last %}
		<div>
			<span style="color: red;">{{ form_errors(row) }}</span>
			{{ form_label(row, null, {'label_attr': {'state': row.vars.label|lower}}) }}
			{{ form_widget(row,{'attr': {}}) }}
		</div>
	{% endif %}
{% endfor %}
<button type="submit" class="btn btn-primary">Create.</button>
{{ form_end(addClientForm) }}
