<table class="table table-dark table-hover js-main-table" data-source-url="{{ dataSourceUrl }}">
    <thead>
    <tr>
        <th></th>
        <th>id</th>
        <th>Alias</th>
        <th>Pełna nazwa</th>
        <th>NIP</th>
        <th>Adres e-mail</th>
    </tr>
    </thead>
    <tbody>
    {% for client in clients %}
        <tr data-subject-id="{{ client.id }}" data-subject-type="client">
            <td class="entity-table icon-col">
                {% if not client.email %}
                    {% include 'icons/notice.html' %}
                {% endif %}
            </td>
            <td class="clickable-row" style="white-space: nowrap;">
                {{ client.id }}
            </td>
            <td class="clickable-row">{{ client.alias }}</td>
            <td class="clickable-row">{{ client.name }}</td>
            <td class="clickable-row">{{
                client.nip|slice(0,3) ~ "-" ~
                client.nip|slice(3,3) ~ "-" ~
                client.nip|slice(6,2) ~ "-" ~
                client.nip|slice(8,2)
                }}</td>
            <td class="clickable-row">{{ client.email|default("brak") }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
