{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    - Klienci
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/clients.css") }}"/>
    <link rel="stylesheet" href="{{ asset("css/entity_table.css") }}"/>
    <link rel="stylesheet" href="{{ asset("css/popups.css") }}"/>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script type="text/javascript" src="{{ asset("js/details-controller.js") }}"></script>
<script type="text/javascript" src="{{ asset("js/content-table-controller.js") }}"></script>
<script type="text/javascript" src="{{ asset("js/filters-controller.js") }}"></script>
<script type="text/javascript" src="{{ asset("js/popup-manager.js") }}"></script>
<script type="text/javascript" src="{{ asset("js/clients-controller.js") }}"></script>
<script>
    $(document).ready(function (){
        window.controller = new Controller($(document));
    });
</script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-9" style="height: 100%;">
            <div class="column mid-col js-mid-col">
                <header>
                    <div class="icon" style="float: left;">
                        {% include 'icons/client.html' %}
                    </div>
                    Klienci
                    <div style="clear: both;"></div>
                    {% include 'burger.html.twig' with {'options': [
                        {'label': "Add client", 'icon': 'add', 'class': 'js-add-client-link'}
                    ]} %}
                </header>
                <div class="col-content" style="width: auto">
                    <div class="table-container js-table-container">
                        {% include 'clients/clients_table.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3" style=" height: 100%;">
            <div class="column right-col js-right-col">
                <header>
                    Szczegóły klienta
                    <span class="js-subject-id">
                            {% if details['client'] %}
                                {{ details['client'].id }}
                            {% endif %}
                        </span>
                    <div class="js-burger">
                        {% include 'burger.html.twig' %}
                    </div>
                </header>
                <div class="col-content" id="details-content">
                    {% if details['client'] %}
                        {% include 'clients/details.html.twig' with {
                            'client': details['client'],
                            'logs': details['logs']
                        } %}
                    {% else %}
                        <div class="alert alert-primary">{{ "Select client to display details." | trans }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
