<div class="entity-form-container">
    {% if update is defined and update == true %}
        <h4>Zaktualizuj zadanie</h4>
    {% else %}
        <h4>Dodaj nowe zadanie</h4>
    {% endif %}
    {{ form_start(addTaskForm) }}
    {% for row in addTaskForm %}
        {% if not loop.last %}
            <div class="entity-form-row">
                <div class="entity-form-label">
                    {{ form_label(row, null) }}
                    {% if row.vars.required %}*{% endif %}
                </div>
                <div class="entity-form-widget">
                    {{ form_widget(row) }}
                </div>
                <div style="clear: both;"></div>
                <span class="error">{{ form_errors(row) }}</span>
            </div>
        {% endif %}
    {% endfor %}
    <div class="entity-form-submit-container">
        <button type="submit" class="btn btn-primary">OK</button>
    </div>
    {{ form_end(addTaskForm) }}
</div>


{#{{ form_start(addTaskForm, {'attr':{'name': 'add_task_form', 'id': 'add-tasks-form'}}) }}#}
{#{% for row in addTaskForm %}#}
{#    {% if not loop.last %}#}
{#        <div>#}
{#            <span style="color: red;">{{ form_errors(row) }}</span>#}
{#            {{ form_label(row, null, {'label_attr': {'state': row.vars.label|lower}}) }}#}
{#            {{ form_widget(row,{'attr': {}}) }}#}
{#        </div>#}
{#    {% endif %}#}
{#{% endfor %}#}
{#<button type="submit" class="btn btn-primary">OK</button>#}
{#{{ form_end(addTaskForm) }}#}
