<table id="main-table" class="table table-dark table-hover entity-table js-main-table" data-source-url="{{ dataSourceUrl }}">
    <thead>
    <tr>
        <th></th>
        <th>id</th>
        <th>Autor</th>
        <th>Dodano</th>
        <th>Temat</th>
        <th>Szczegóły</th>
        <th>Termin</th>
        <th>Wykonawca</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        <tr data-subject-type="task" data-subject-id="{{ task.id }}" {{ task.doneAt ? 'style="color: rgba(255,255,255,0.5);"' : "" }}>
            <td>
                {% if task.getWarnings is not empty %}
                    {% include 'icons/notice.html' %}
                {% endif %}
            </td>
            <td class="clickable-row">{{ task.id }}</td>
            <td class="clickable-row">{{ task.author.firstName ~ " " ~ task.author.lastName }}</td>
            <td class="clickable-row">{{ task.createdAt | date("d.m.Y H:i") }}</td>
            <td class="clickable-row">{{ task.topic }}</td>
            <td class="clickable-row">{{ task.info }}</td>
            <td class="clickable-row">{{ task.deadline | date("d.m.Y H:i") }}</td>
            <td class="clickable-row">{{ task.target.firstName ~ " " ~ task.target.lastName }}</td>
            <td>
                {% if task.doneAt %}
                    <div class="state-done">Wykonane</div>
                {% else %}
                    <button class="state-button">Wykonaj</button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
